__pycache__/
myenv1/
.env

e
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/MukkaRakshala/euron_mango_api.git
git push -u origin main